a:link {
    color: green;
    background-color: green;
}
a:visited {
    color: blue;
    background-color: green;
}
a:hover {
    color: black;
    background-color: red
}
a:active{
    color: yellow
}