body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f7f7f7;
}

h1, h2 {
    color: #333;
}

pre {
    background: #eee;
    padding: 12px;
    border-radius: 6px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
